<!-- hw/templates/hw/about.html -->
{% extends 'hw/base.html' %}

{% block content %}
    <h1>About this page</h1>

    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur architecto quaerat unde tempore eveniet odio mollitia, eaque perspiciatis quis non possimus deleniti sunt quibusdam dignissimos quisquam ullam aut error voluptatum?</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi, animi possimus fuga et libero, architecto ad repudiandae, quo ex voluptates voluptate. Non exercitationem est eaque facere sequi voluptatem vero excepturi?</p>

{% endblock %}
        
        