<!-- restaurant/templates/restaurant/base.html -->
 <!-- File: base.html 
      Author: Fibie Kalis (fibie@bu.edu) 9/17/2026 
      HTML file providing headers, navigation for the page, and including style info -->

      {% load static %}
      <html>
           <head>
                <title> Froyo World!🍦 </title>
                <link rel="stylesheet" href="{% static 'A2.css' %}">
           </head>
      
           <body>
           <header>
      
                <nav>
                     <a href="{% url 'main' %}">🍦 Home</a>
                     <a href="{% url 'show_form' %}">🍦 Order form</a>
      
                </nav>
           </header>
      
           <main>
                {% block content %}
                {% endblock %}
           </main>
      
           <footer>Web application created by Fibie Kalis, Computer Science student at Boston University.</footer>
      
           </body>
      
      </html>
      