<!-- quotes/templates/quotes/about.html -->
 <!-- File: about.html 
      Author: Fibie Kalis (fibie@bu.edu) 9/15/2026 
      HTML file for about page, with short biographical information -->

{% extends 'quotes/base.html' %}

{% block content %}

<h1>About Meryl Streep</h1>

<p>Considered by many critics to be the greatest living actress, Meryl Streep has been nominated for the Academy Award an astonishing 21 times, and has won it three times. Meryl was born Mary Louise Streep in 1949 in Summit, New Jersey, to Mary Wolf (Wilkinson), a commercial artist, and Harry William Streep, Jr., a pharmaceutical executive. Her father was of German and Swiss-German descent, and her mother had English, Irish, and German ancestry.</p>
<p>Meryl's early performing ambitions leaned toward the opera. She became interested in acting while a student at Vassar and upon graduation she enrolled in the Yale School of Drama. She gave an outstanding performance in her first film role, Julia (1977), and the next year she was nominated for her first Oscar for her role in The Deer Hunter (1978). She went on to win the Academy Award for her performances in Kramer vs. Kramer (1979) and Sophie's Choice (1982).</p>

{% endblock %}