<!-- quotes/templates/quotes/base.html -->
 <!-- File: base.html 
      Author: Fibie Kalis (fibie@bu.edu) 9/13/2026 
      HTML file for quotes home page -->

{% load static %}
<html>
     <head>
          <title> Meryl Streep Quote of the Day </title>
          <link rel="stylesheet" href="{% static 'A1.css' %}">
     </head>

     <body>
     <header>

          <nav>
               <li><a href="{% url ' ' %}"></a></li>
               <li><a href="{% url 'quote' %}">Random Quote</a></li>
               <li><a href="{% url 'show_all' %}">Show All</a></li>
               <li><a href="{% url 'about' %}">About</a></li>

          </nav>
     </header>

     <main>
          {% block content %}
          {% endblock %}
     </main>

     <footer>Web application created by Fibie Kalis, Computer Science student at Boston University.</footer>

     </body>

</html>
