<!-- quotes/templates/quotes/base.html -->
 <!-- File: base.html 
      Author: Fibie Kalis (fibie@bu.edu) 9/13/2026 
      HTML file for quotes home page -->

{% load static %}
<html>
     <head>
          <title> Meryl Streep Quote of the Day </title>
          <link rel="stylesheet" href="{% static 'styles.css' %}">
     </head>

     <body>
     <header>
          <h1>Quotes</h1>

          <nav>
               <li><a href="{% url 'home' %}">Home</a></li>
               <li><a href="{% url 'quote' %}">Random Quote</a></li>

          </nav>
     </header>

     <main>
          {% block content %}
          {% endblock %}
     </main>

     </body>

</html>
